# Produce tile geometries based on the AoI extent and zoom level
prepare_data.py:  
  datasets:
    shapefile: data/ground_truth/sda_ground_truth.gpkg           # GT labels
    # fp_shapefile: data/FP/<FP_SHPFILE>                # FP labels
    # empty_tiles_aoi: data/AoI/<AOI_SHPFILE>           # AOI in which additional empty tiles can be selected. Only one 'empty_tiles' option can be selected  
    # empty_tiles_year: 2023                              # If "empty_tiles_aoi" selected then provide a year. Choice: (1) numeric (i.e. 2020), (2) [year1, year2] (random selection of a year within a given year range) 
    # empty_tiles_shp: data/empty_tiles/<EMPTY_TILES_SHPFILE>    # Provided shapefile of selected empty tiles. Only one 'empty_tiles' option can be selected                     
    category: 'Classe'
  output_folder: output/trne/
  zoom_level: 16 

# Fetch of tiles (online server) and split into 3 datasets: train, test, validation
generate_tilesets.py:
  debug_mode: 
    enable: False  # sample of tiles
    nb_tiles_max: 2000
  working_directory: .
  datasets:
    aoi_tiles: output/trne/tiles.geojson
    ground_truth_labels: output/trne/labels.geojson
    # fp_labels:             # Uncomment if FP shapefile exists in prepare_data.py     
    #   fp_shp: output/trne/FP.geojson
    #   frac_trn: 0.7        # fraction of fp tiles to add to the trn dataset, then the remaining tiles will be split in 2 and added to tst and val datasets
    image_source:
      # ############# 
      # type: FOLDER
      # year: multi-year
      # location: output/trne/all-images_src
      # srs: "EPSG:3857"
      # ############# 
      # type: WMS                               # supported values: 1. MIL = Map Image Layer 2. WMS 3. XYZ 4. FOLDER
      # location: https://wms.geo.admin.ch/service
      # layers: ch.swisstopo.swissimage
      # srs: "EPSG:2056"
      # ############ 
      type: XYZ                             # supported values: 1. MIL = Map Image Layer 2. WMS 3. XYZ 4. FOLDER
      year: multi-year                   # supported values: 1. multi-year (tiles of different year), 2. <year> (i.e. 2020)
      location: https://wmts.geo.admin.ch/1.0.0/ch.swisstopo.swissimage-product/default/{year}/3857/{z}/{x}/{y}.jpeg
      # ############ 
  # empty_tiles:            # add empty tiles to datasets
  #   tiles_frac: 0.5       # fraction (relative to the number of tiles intersecting labels) of empty tiles to add
  #   frac_trn: 0.7         # fraction of empty tiles to add to the trn dataset, then the remaining tiles will be split in 2 and added to tst and val datasets
  #   keep_oth_tiles: False # keep tiles in oth dataset not intersecting oth labels
  output_folder: output/trne/
  tile_size: 256      # per side, in pixels
  overwrite: True
  n_jobs: 10
  seed: 2
  COCO_metadata:
    year: 2024
    version: 1.0
    description: Anthropogenic soils
    contributor: Ticino and Vaud
    url: 
    license:
      name: unknown
      url: unknown

# Train the model with the detectron2 algorithm 
train_model.py:
  working_directory: output/trne/
  log_subfolder: logs
  sample_tagged_img_subfolder: sample_tagged_images
  COCO_files: # relative paths, w/ respect to the working_folder
    trn: COCO_trn.json
    val: COCO_val.json
    tst: COCO_tst.json
  detectron2_config_file: ../../config/detectron2_config.yaml # path relative to the working_folder
  model_weights:
    model_zoo_checkpoint_url: COCO-InstanceSegmentation/mask_rcnn_R_50_FPN_1x.yaml

# Object detection with the optimised trained model
make_detections.py:
  working_directory: output/trne
  output_folder: run68
  log_subfolder: logs
  sample_tagged_img_subfolder: run68/sample_tagged_images
  COCO_files:           # relative paths, w/ respect to the working_folder
    trn: COCO_trn.json
    val: COCO_val.json
    tst: COCO_tst.json
  detectron2_config_file: ../../config/detectron2_config.yaml # path relative to the working_folder
  model_weights:
    pth_file: ../../models/model_68.pth # trained model minimising the validation loss curve
  image_metadata_json: img_metadata.json
  rdp_simplification:   # rdp = Ramer-Douglas-Peucker
    enabled: True
    epsilon: 2.0        # cf. https://rdp.readthedocs.io/en/latest/
  score_lower_threshold: 0.05
  remove_det_overlap: True  # if several detections overlap (IoU > 0.5), only the one with the highest confidence score is retained

# Evaluate the detection quality for the different datasets by calculating metrics
assess_detections.py:
  working_directory: output/trne
  datasets:
    ground_truth_labels: labels.geojson
    split_aoi_tiles: split_aoi_tiles.geojson # aoi = Area of Interest
    categories: category_ids.json
    detections:
      trn: run68/trn_detections_at_0dot05_threshold.gpkg
      val: run68/val_detections_at_0dot05_threshold.gpkg
      tst: run68/tst_detections_at_0dot05_threshold.gpkg
  output_folder: run68
  iou_threshold: 0.1
  area_threshold: 50       # area under which the polygons are discarded from assessment
  metrics_method: micro-average   # 1: macro-average ; 2: macro-weighted-average ; 3: micro-average
  confidence_threshold: 0.05

# Plots (optional)
result_analysis.py:
  working_directory: output/trne/run68
  detections: tagged_detections.gpkg
  min_year: 1950
  max_year: 2023
  class_dict: {'Activité non agricole': 'Non-agricultural activity', # Provide a customed legend
                'Mouvement de terrain': 'Land movement'}


# Assess the final results
merge_detections.py:
  working_directory: output/trne
  output_dir: run68
  labels: labels.geojson
  detections:
    trn: run68/trn_detections_at_0dot05_threshold.gpkg
    val: run68/val_detections_at_0dot05_threshold.gpkg
    tst: run68/tst_detections_at_0dot05_threshold.gpkg
  distance: 10 # m, distance use as a buffer to merge close polygons (likely to belong to the same object) together
  iou_threshold: 0.1
  score_threshold: 0.05
  assess: 
    enable: True
    metrics_method: micro-average   # 1: macro-average ; 3: macro-weighted-average ; 2: micro-average


merge_multi_results.py:
  working_directory: output/trne
  output_directory: merged_results
  glob_det_path: run*/dst_merged_detections_at_0dot05_threshold.gpkg
  labels: labels.geojson
  categories: category_ids.json
  threshold: 0.1
  assess: 
    enable: True
    metrics_method: micro-average   # 1: macro-average ; 3: macro-weighted-average ; 2: micro-average

  
merge_across_years.py:
  working_directory: output/trne
  output_directory: merged_results
  detections: merged_results/merged_detections.gpkg
  labels: labels.geojson
  categories: category_ids.json
  assess: 
    enable: True
    metrics_method: micro-average   # 1: macro-average ; 3: macro-weighted-average ; 2: micro-average


# Filtering and merging detection polygons to improve final results
filter_detections.py:
  working_directory: data
  detections: ../output/trne/merged_results/merged_detections_ticino.gpkg
  canton: ticino
  infos:
    layers_directory: layers/{canton}/    # {canton} is replaced in-script with the right name
    ticino:
      agri_area: Idoneità_Agricola.shp
      building_areas: Zones_batir_Ind.shp
      climatic_areas: zones_climatiques_compatibles_sda_tc.gpkg
      compatible_SDA: Compatibilita_LPN-SAC_20241010.gpkg
      forests: Fôrets.shp
      large_rivers: Grandi_corsi.shp
      protected_underground_water: Protezione_acque_sott.shp
      polluted_sites: Siti_inquinati.shp
      sda: Censimento_SAC_2023.shp
      slope: terrain_pente_TC_SA.gpkg
      waters: MU_Acque_TI.shp
      zone_compatible_LPN: Zona_SAC_compatibile_con_i_disposti_LPN.gpkg
      zone_compatible_LPN_extensive: Zona_SAC_compatibile_con_i_disposti_LPN_previa_gestione_estensiva.gpkg
      zone_non_compatible_LPN: Zona_SAC_non_compatibile_con_i_disposti_LPN.gpkg
    vaud: 
      buildings: Batiments_en_surface_MO.gpkg
      building_areas: affectation_zone_a_batir.gpkg
      climatic_areas: zones_climatiques_compatibles_sda_VD.gpkg
      polluted_sites: Sites_pollues_VD2022.gpkg
      sda: SDA_v5_2.gpkg
      slope: terrain_pente_VD.gpkg
      waters: lakes_VD.gpkg
  attribute_names: layers/attribute_names.xlsx
  dem: DEM/switzerland_dem_EPSG2056.tif
  labels: ../output/trne/filtered_ground_truth_{canton}.gpkg
  categories: ../output/trne/category_ids.json
  elevation_threshold: 900.0 # m, altitude threshold
  score_threshold: 0.05 # detection score (from 0 to 1) provided by detectron2
  area_threshold: 100.0 # m2, area threshold under which polygons are discarded
  area_ratio_threshold: 0.25 # ratio between the original and the final valid area under which polygons are discarded
  compactness_threshold: 0.2
  assess: 
    enable: True
    metrics_method: micro-average   # 1: macro-average ; 3: macro-weighted-average ; 2: micro-average